<div class="logo">
    <div class="logo__arrow">
        <svg height="100%" viewBox="0 0 175 106" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="53" x2="169" y2="53" stroke="#0B0A12" stroke-width="8"/>
            <path d="M119.497 3.50253L168.995 53L119.497 102.497" stroke="#0B0A12" stroke-width="8"/>
            </svg>
    </div>
    <div class="logo__content">
        <div class="logo__title">LAN BELIC—</div>
        <div class="logo__subtitle">Product<span class="logo__subtitle__light">+</span>Interaction Designer</div>
    </div>
</div>
  
  {% stylesheet 'scss' %}
    // Import sass from your styles directory
    @import 'variables';
    @import 'mixins';
    @import 'functions';

    .logo {

        display: flex;
        flex-direction: row;

        &__arrow{
            height: rem(40px);
            align-self: center;
            margin-right: rem(24px);
            display: none;
            @include md {
                display: block;
            }
        }

        &__title {
            font-size: rem(30px);
            line-height: rem(39px);
            font-weight: 700;
            color: $foreground-default;
        }

        &__subtitle {
            font-size: rem(20px);
            font-weight: 500;
            line-height: rem(26px);
            color: $foreground-alt;
            &__light{
                color: $foreground-disabled;
            }
        }

        
    }
  
    
  
  {% endstylesheet %}
  