<header class="header">
  <nav class="header__nav">
    <ul class="header__link-list">
      <li class="header__link-list-item">
        <a class="header__link" href="#">About Me</a>
      </li>
      <li class="header__link-list-item">
        <a class="header__link" href="/LanBelic_Resume.pdf">Resume </a>
      </li>
    </ul>
  </nav>
  <hr>
</header>

{% stylesheet 'scss' %}
  // Import sass from your styles directory
  @import 'mixins';
  @import 'functions';

  .header {
    padding: rem(28px) 0;
    @include lg {
      padding: rem(60px) 0;
    }

    hr {
      border: 5px solid $foreground-default;
      margin: rem(28px) rem(20px) 0 rem(20px);
      @include md {
        display: none;
      }
    }

    &__nav {
      @include container;

      display: flex;
      flex-direction: row;
    }

    &__link-list {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      margin-left: auto;
    }

    &__link-list-item {
      & + & {
        margin-left: 2rem;
      }
    }

    &__link {
      margin: -0.5rem;
      padding: rem(12px) rem(16px);
      border-radius: 8px;
      &:hover{
        background: $background-hover;
      }
    }
  }

{% endstylesheet %}
