/*********************
BREAKPOINTS
*********************/
$breakpoint--sm: 544px;
$breakpoint--md: 768px;
$breakpoint--lg: 1012px;
$breakpoint--xl: 1280px;
$breakpoint--xxl: 1500px;

/*********************
COLOURS
*********************/
$foreground-default: #0B0A12;
$foreground-alt: #545459;
$foreground-onAccent: #FBFBFB;
$foreground-accent: #034799;
$background-base:#FBFBFB;
$background-accent:#034799;